<!-- Footer -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-col">
                <h4>{$config.site_name}</h4>
                <p>{$config.site_description}</p>
            </div>
            <div class="footer-col">
                <h4>关于我们</h4>
                <ul class="footer-links">
                    <li><a href="#">关于本站</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">免责声明</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>帮助中心</h4>
                <ul class="footer-links">
                    <li><a href="#">购买流程</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">会员权益</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>联系方式</h4>
                <ul class="footer-links">
                    <li>邮箱：admin@admin.com</li>
                    <li>QQ：123456789</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>{$config.site_footer}</p>
            <p>{$config.site_icp}</p>
        </div>
    </div>
</footer>


<script src="/static/js/footer.js"></script>
</body>
</html>
